* {
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: 'DM Sans', sans-serif;
    background-color: hsl(218, 28%, 13%);
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

header {
    /* background-color: hsl(218, 28%, 13%); */
    background-color: hsl(217, 28%, 15%)
    padding-top: 15px;
    background-image: url(../resources/bg-curvy-desktop.svg);
    background-repeat: no-repeat;
}
header .header-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px 0;

}
header .header-info h2{
    color: white;
    /* font-size: 12px; */
    max-width: 720px;
    padding-top: 10px;
    padding-left: 2px;
    padding-right: 2px;
    text-align: center;
}

header .header-info h5{
    color: white;
    font-size: 12px;
    max-width: 720px;
    padding-top: 10px;
    padding-left: 2px;
    padding-right: 2px;
    text-align: center;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: flex;
    border: 1px solid #ccc;
    justify-content: space-between;
    padding: 0px;
    width: 40%;

}

nav ul li {
     list-style: none;
     border: 1px solid #ccc;
     padding-top: 10px;
     padding-left: 20px;
     padding-right: 20px;
}

nav ul li a {
    text-decoration: none;
    text-align: center;
    color: #8e8e8e;
}

.mainpointcontainer {
    display: flex;
    flex-direction: row;
    max-width: 720px;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}
.mainpoint {
    display: flex;
    flex-direction: column;
    color: white;
    font-size: 14px;
    height: 350px;
    width: 340px;
    margin 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    justify-content: center;
    text-align: center;
    border: 1px solid #ccc;
    padding: 50px;

}

.mainpoint-1 {
    background-image: url(../resources/icon-access-anywhere.svg);
    background-repeat: no-repeat;
    background-position-x: 150px;
    background-position-y: 50px;
    justify-content: center;
    text-align: center;

   }
.mainpoint-2 {
    background-image: url(../resources/icon-security.svg);
    background-repeat: no-repeat;
    background-position-x: 150px;
    background-position-y: 50px;
    justify-content: center;
    text-align: center;

    }
.mainpoint-3 {
    background-image: url(../resources/icon-collaboration.svg);
    background-repeat: no-repeat;
    background-position-x: 150px;
    background-position-y: 50px;
    justify-content: center;
    text-align: center;

    }
.mainpoint-4 {
    background-image: url(../resources/icon-any-file.svg);
    background-repeat: no-repeat;
    background-position-x: 150px;
    background-position-y: 50px;
    justify-content: center;
    text-align: center;

    }

   
section {
    display: flex;
    justify-content: center;
}

section div div img {
    display: flex;
    justify-content: center;
}